version: "3.8"

services:

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  db:
    image: gvenzl/oracle-xe:21-slim
    ports:
      - "1522:1521"
    environment:
      ORACLE_PASSWORD: oracle
    volumes:
      - db_data:/opt/oracle/oradata

volumes:
  db_data:
