version: "3.8"

services:

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: gvenzl/oracle-xe:21-slim
    ports:
      - "1521:1521"
    environment:
      ORACLE_PASSWORD: oracle
    volumes:
      - db_data:/opt/oracle/oradata
  # 현재 기본 DB는 Oracle로 설정되어 있습니다
  # 필요에 따라 다른 DB(MySQL or PostgresSQL)로 변경될 수 있습니다!

volumes:
  db_data:
